Compiladores 1/Proyecto2/PaginaWeb/ClienteWeb/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="guardarImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarImagenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImagenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getImagenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getImagenesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>